<center>
<h2><span class="" style="color: #339933">ABOUT US</span></h2>
</center>
<table width="771" border="0" align="center" cellpadding="0">
  <tr>
    <td><span class="style1">SecurTrust Federal Credit Union was chartered in  October, 1949, under the name of Dixie Greyhound Federal Credit Union through  the efforts of 10 Greyhound employees. Although we have seen many improvements over the years in the financial  industry, our Credit Union has remained strong and dedicated to serving our  members. Our goal is to provide prompt,  courteous and friendly service to each member (or prospective member), to  ensure that every person is guided toward financial independence by setting up  a workable savings program, and to persuade each member that a good credit  rating is vital to accomplishing his/her life goals. We have been consistently awarded the Bauer  Financial Reports highest rating (5 stars) for the past several years, designating  us as one of the most financially sound credit unions in the country.<strong><br />
          <br />
Once only for  Greyhound Employees, now YOU can join too!!!</strong><br />
<br />
SecurTrust Federal Credit Union now has THREE  locations to serve you. The main office  is located at 6555 Quince Road,    Ste 307, Memphis, TN 38119,  in the Time Warner Building. We also have an office in Tate County  located inside NWCC   Administration Building  in Senatobia, MS. Our NEWEST location is in Southaven,   MS, at 3674 Goodman Road East, Ste 11, and is a  full-service facility, offering mortgage and insurance products, along with  normal financial products.<br />
<br />
Visit us or give us a call at any of these  locations. We are here to serve YOU, our  members. And we would like to be your  PRIMARY FINANCIAL INSTITUTION.</span>
    </div>
    <br />
    <br />
    <br /></td>
  </tr>
</table>