<center>
<h2><span class="" style="color: #339933">How to Contact Us</span></h2>
</center>
<table width="771" border="0" align="center" cellpadding="0">
	<tr><td><font size="3" face="Arial, Helvetica, sans-serif">
        <p align="center">
        	If you have questions or comments for us, you may contact us by phone,
            or you may email at one of the addresses below.
        </p>
        <p align="center">
            If you use email, please provide us with enough information to respond,
            and if you request a phone call, please give us an approximate time
            to contact you. We promise to respond to your questions within 24
            hours of receipt of your request.
        </p>
        <p align="center">
        	For general questions, such as information on membership, products
            or services, directions to our office, etc., please 
            <%= mail_to "info@securtrust.org", "click here" %>.<br />
        </p>
        <p align="center"> 
        	For loan-related questions or information,
            please <%= mail_to "lending@securtrust.org", "click here" %> to
            email a Loan Officer.<br />
            <br />
            For mortgage-related questions or information, please&nbsp; 
            <%= mail_to "mortgage@securtrust.org", "click here" %> 
            for our Mortgage Specialist.<br />
            <br />
            For any other questions or comments for management, please 
            <%= mail_to "operations@securtrust.org", "click here" %> 
            to email the Operations Manager
        </p>
        <p align="center"><strong>
            For AFTER-HOURS lending (after 4:30 pm weekdays, Saturdays &amp; Sundays)
            call 901-359-4667.&nbsp; 
            *PLEASE NOTE:&nbsp; After-hours lending is for new auto-loans
            after normal business hours only.&nbsp; Account balances,
            transfers, or other teller transactions are NOT available at this
            number.&nbsp; Please
            click &ldquo;Home Banking&rdquo; above to access your account after-hours.
            To report a lost or stolen credit card, or check your credit card
            balance, call 1-800-322-8472.
			To report a lost or stolen ATM card, call 1-877-300-3509</strong>.
        </p>
		</font>
		</td>
	</tr>
</table>
<table border="1" cellspacing="0" cellpadding="0" align="center">
                  <tr>
                    <td width="127" valign="top"><p align="center"><strong>LOCATION</strong></p></td>
                    <td width="196" valign="top"><p align="center"><strong>ADDRESS</strong></p></td>
                    <td width="119" valign="top"><p align="center"><strong>PHONE</strong></p></td>
                    <td width="120" valign="top"><p align="center"><strong>FAX</strong></p></td>
                  </tr>
                  <tr>
                    <td width="127" valign="top"><p align="center" class="style1" style="font-weight: bold">Memphis </p></td>
                    <td width="196" valign="top"><p class="style1" style="font-weight: bold">6555 Quince Rd. <br />
                      Suite 307 <br />
                      Memphis, TN&nbsp; 38119 </p></td>
                    <td width="119" valign="top"><p align="center" class="style1" style="font-weight: bold">901-751-2097</p></td>
                    <td width="120" valign="top"><p align="center" class="style1" style="font-weight: bold">901-751-3899</p></td>
                  </tr>
                  <tr>
                    <td width="127" valign="top"><p align="center" class="style1" style="font-weight: bold">Southaven </p></td>
                    <td width="196" valign="top"><p class="style1" style="font-weight: bold">3674 Goodman Rd.,      East <br />
                      Suite 11 <br />
                      Southaven, MS&nbsp; 38671 </p></td>
                    <td width="119" valign="top"><p align="center" class="style1" style="font-weight: bold">662-890-8760</p></td>
                    <td width="120" valign="top"><p align="center" class="style1" style="font-weight: bold">662-890-8764</p></td>
                  </tr>
                  <tr>
                    <td width="127" valign="top"><p align="center" class="style1" style="font-weight: bold">Senatobia</p></td>
                    <td width="196" valign="top"><p class="style1" style="font-weight: bold">4975 Highway 51 N<br />
                      Senatobia, MS&nbsp; 38668 </p></td>
                    <td width="119" valign="top"><p align="center" class="style1" style="font-weight: bold">662-562-3216</p></td>
                    <td width="120" valign="top"><p align="center">&nbsp;</p></td>
                  </tr>
                  <tr>
                    <td width="127" valign="top"><p align="center" class="style1" style="font-weight: bold">Toll Free<br />
                      (For calls outside    the state of TN only)</p></td>
                    <td width="196" valign="top"><p>&nbsp;</p></td>
                    <td width="119" valign="top"><p align="center" class="style1" style="font-weight: bold">1-888-419-7723</p></td>
                    <td width="120" valign="top"><p align="center">&nbsp;</p></td>
                  </tr>
      </table><br />
      <p align="center"><strong>For credit counseling services, please call 800-284-1698</strong></p>