<table width="771" align="center" cellpadding="0" cellspacing="0">
<tr>
<td><%= image_tag "hblogin_left.jpg", :width=>425, :height=>269, :alt=>"" %></td>
<td background="images/hblogin_right.jpg">
<div align="center">
  <table width="346" border="0">
    <tbody>
      <tr>
        <td align="center">Welcome to Your Online Account Access! </td>
      </tr>
    </tbody>
  </table>
  <center>
    <form action="https://www.securtrust.org/hbv3_1/login.asp" method="post" name="login" id="login">
      <input type="hidden" value="782" name="creditunion" />
      <input type="hidden" value="782" name="fiId" />
      <input type="hidden" value="SecurTrust" name="cuname" />
      <input id="service" type="hidden" value="SecurTrust" name="service" />
      <input type="hidden" name="browser" />
      <input type="hidden" name="emailContact" value="mrushing@securtrustfcu.org" />
      <table cellspacing="0" cellpadding="0" border="0">
        <tbody>
          <tr>
            <td><table cellspacing="0" cellpadding="4" width="250" bgcolor="#dfdfdf" border="0">
              <tbody>
                <tr>
                  <td align="right">Account Number: </td>
                  <td><input onkeypress="allowInteger();" size="10" name="account" /></td>
                </tr>
                <tr>
                  <td align="right">PIN:</td>
                  <td><input type="password" size="10" value="" name="pin" /></td>
                </tr>
                <tr>
                  <td align="center" colspan="2">
                        <input id="submit" type="submit" value="   Sign In   " name="submit" />
                  </td>
                </tr>
              </tbody>
            </table></td>
          </tr>
        </tbody>
      </table>
    </form>
  </center>
</div>
<center>
  <a onclick="window.open('https://seals.networksolutions.com/siteseal_seek/siteseal?v_shortname=NETSP&amp;v_querytype=W&amp;v_search=www.securtrust.org&amp;x=5&amp;y=5','NETSP','width=450,height=500,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,copyhistory=no,resizable=no');return false;" href="#"><img src="https://seal.networksolutions.com/images/prorecblue.gif" alt="1" border="0" oncontextmenu="alert('This SiteSeal is protected');return false;" /></a>
</center>
</td>
</tr>
</table>