<div align="center">
    <table width="770" border="0">
        <tr>
            <td width="425"><%= image_tag "hblogin_left.jpg", :width=>425, :height=>269, :alt=>"" %></td>
            <td width="335" background="images/hblogin_right.jpg"><div align="center"> <span class="arial">2010
                        Holiday Closings:<br />
                </span>
                <table width="96%" cellspacing="0">
                    <tr>
                        <td width="51%">Friday, January 1</td>
                        <td width="49%">New Year's Day</td>
                    </tr>
                    <tr>
                        <td>Monday, January 18</td>
                        <td>Martin Luther King, Jr. Day</td>
                    </tr>
                    <tr>
                        <td>Monday, February 15</td>
                        <td>President's Day</td>
                    </tr>
                    <tr>
                        <td>Monday, May 31</td>
                        <td>Memorial Day</td>
                    </tr>
                    <tr>
                        <td>Monday, July 5</td>
                        <td>Independence Day</td>
                    </tr>
                    <tr>
                        <td>Monday, September 6</td>
                        <td>Labor Day</td>
                    </tr>
                    <tr>
                        <td>Monday, October 11</td>
                        <td>Columbus Day</td>
                    </tr>
                    <tr>
                        <td>Thursday, November 11</td>
                        <td>Veterans Day</td>
                    </tr>
                    <tr>
                        <td>Thursday, November 25</td>
                        <td>Thanksgiving Day</td>
                    </tr>
                    <tr>
                        <td>Friday, December 24</td>
                        <td>Christmas Eve</td>
                    </tr>
                </table>
            </div></td>
        </tr>
    </table>
	<br />
	<table width="770">
		<tr><td>
		<p><font color="#CC0000">ATTENTION</font>: SecurTrust Federal Credit Union does NOT send texts or emails to members regarding their accounts.&nbsp; It has been brought to our attention that some members are receiving texts about their account status.&nbsp; Please do not call the number provided or give out any personal information about your account.&nbsp; This is a fraudulent attempt to get access to your account.</p>
		<p align="center"> <%= mail_to "info@securtrust.org", "Contact us" %> if you have any questions or concerns at 662-890-8760.</p>
		</td></tr>
	</table>
</div>

<p align="center"><%= image_tag "holidayloan.jpg", :border=>0, :alt=>"" %></p>
<br /><br />