<h2 align="center" style="color: #339933">MEMBERSHIP</h2>
<table width="771" border="0" align="center" cellpadding="0">
  <tr>
    <td><h2 align="center"><strong>Who can become  a member?</strong></h2>
      <p align="justify" style="font-family: Arial, Helvetica, sans-serif">Effective March, 2006, anyone who lives, works,  worships, or attends school in DeSoto    County, MS, may become  a member of SecurTrust Federal Credit Union. If you meet these requirements, come on in or give us a call to start  your membership now and enjoy the many benefits Credit Union membership  brings. Call or visit any one of our 3  locations-Memphis, TN  (901-751-2097), Southaven, MS  (662-890-8760), or Senatobia,   MS (662-562-3216).</p>
    <p align="justify"><span style="font-family: Arial, Helvetica, sans-serif">Once you become a member, you're always a valuable  part of our credit union family. Even if  you move out of the area or leave your current employer, your membership can  continue.</span><br />
      <br />
      <br />
    </p></td>
  </tr>
</table>