<center>
<h2><span class="" style="color: #339933">MORTGAGES</span></h2>
</center>
<p>&nbsp;</p>
<table width="771" border="0" align="center" cellpadding="0">
  <tr>
    <td><p align="justify"><%= image_tag "mortgages_clip_image002.gif", :width=>272, :height=>258, :align=>"left", :hspace=>12, :alt=>"Text Box" %><span style="font-family: Arial">Turn to a lender 
        <strong><u>YOU  CAN TRUST!</u></strong><br />
        <br />
      If  you are interested in refinancing for a lower mortgage rate, purchasing new  home mortgage, a home equity loan or a second mortgage, call on us first.<br />
      We  pride ourselves in offering the highest level of customer service, and  appreciate the opportunity to earn your business. Our purpose is to satisfy  your needs. By offering the lowest  rates, we hope that you will not only call us first when you need a mortgage,  but you will refer us to your friends, family and business associates as  well. There is no membership required to  benefit from our mortgage loan products.<br />
      Our  goal is to make the loan process as simple for you as possible and to provide you with the mortgage loan that is right for you. Please do not hesitate to call us if there is  anything we can help you with in the future or if you have any questions regarding mortgage loans.</span></p>
      <p align="justify" style="font-family: Arial"><strong>Rates?</strong><br />
        We  offer terrific rates! Call us @ 662-890-8760 or 901-751-2097 today for a free quote.</p>
      <p align="justify" style="font-family: Arial"><strong>Interested in  Purchasing a Home or Refinancing your existing Mortgage?</strong><br />
        Whether you are purchasing  a new home or looking to refinance your current home we have programs to meet  your specific needs.<br />
        Programs Include: First-time  home buyers, Debt consolidation, Zero down options, Interest only, Jumbo loan  amounts, Home equity lines of credit, Refinancing to lower your rate, Construction  loans.</p>
      <p align="justify" style="font-family: Arial"><strong>First Time Home  Buying</strong><br />
        Get started by reviewing  your financial records and your current credit report. By looking at these ahead of time, you will know if you need time to fix any potential problems that might slow down the lending process.<br />
        Next, think about what you need from a home and how much you can afford on your current budget. Do not forget to include costs you may not  have now.<br />
        Consider the location you  want to live in carefully. How are the  schools? How far will your commute to work be and have the homes increased in value?</p>
      <p align="justify" style="font-family: Arial"><strong>Refinancing</strong><br />
        Already a Homeowner? Have big ideas for the kitchen or are college  expenses for the kids around the corner?<br />
        First, think what your refinancing goal is: We offer many refinance options whether you want to lower  your current rate, lower your payments, consolidate other bills, or take cash  out. Call on our Mortgage experts to  help match products to fit your specific needs. Our free application will help keep your lending costs down.</p>
      <p align="justify" style="font-family: Arial"><strong>Home Purchasing</strong><br />
        Once you have decided what  you are looking for in a home purchase, you can count on us to give you a loan approval decision even before you find the exact house you want.<br />
        The housing Market can be very competitive. Being approved before you shop for homes gives you an edge on other buyers, especially when it is time to make an offer. Come by our office or give us a call and find out how you can become pre approved for your next home!</p>
      <p align="justify" style="font-family: Arial"><strong>Six Steps to the  Loan Process:</strong><br />
        1. Organize your documents - Gather all the paperwork you will need to speed up the loan process.<br />
        2. Get qualified - Find out how much money you can borrow.<br />
        3. Shop loan programs - Compare loans and rates to see which best suits you.<br />
        4. Apply for loan - Complete the loan application.<br />
        5. Obtain loan approval - Get your loan approved.<br />
        6. Close the loan - Sign final documents.<br />
        <br />
        <strong>PMI (Private Mortgage Insurance) Do you need it?</strong><br />
In the event that you do not have 20% to put down on a home and your LTV (loan to value) is above 80% you are required to carry PMI on your mortgage loan. PMI can be escrowed into your monthly payment  or paid annually. PMI is tax deductible and once you are under 80% of the LTV you no longer have to pay it. Todays 2nd mortgage rates are escalating, PMI is a good option in some cases, rather than having 2 mortgage loans (ex: and 80% and a 20%).</p>
      <p align="justify" style="font-family: Arial"><strong>All About Credit &amp; FICA Scores</strong><br />
        With todays high credit demands we have had several people ask me how their credit score is calculated and what they can do to improve it. Listed below are the most important factors, tips to improve your score &amp; the percentages these factors represent.<br />
        <br />
  <strong>Payment history (35%).</strong> You want a long record of paying  your bills on time with no missed payments. If you don't pay on time, the  length of time payments are past due, the amount that's delinquent, and the  number of past due items all affect your score.<br /> 
  <br />
  <strong>How much of your available credit you've used (30%).</strong> The closer you are to your credit limits, the lower your  score. FICO begins to penalize you anytime you borrow more than 20% of your  available credit.<br /> 
  <br />
  <strong>Length of credit history (15%).</strong> Having accounts open for a long time increases your credit score, although  inactive accounts don't help as much as active ones. The score looks at how  long you've had your oldest account as well as the average age of all your  accounts.<br /> 
  <br />
  <strong>New credit (10%).</strong> Opening a bunch of new accounts in a short period of time decreases your credit score and makes lenders nervous. Even credit report inquiries (when someone checks your credit history because you're trying to obtain credit) lower your score. Thankfully, inquiries made by employers or lenders sending unsolicited offers don't affect your score.  Neither do your requests for your own credit report. FICO also considers a  flurry of inquiries from mortgage lenders as a single request, so you aren't  penalized for seeking multiple bids on a home loan.<br /> 
  <br />
  <strong>Types of credit used(10%).</strong> Your score will be a little higher if you have a record of repaying a range of debts, such as credit cards, auto loans and mortgages.<br />
        Take special notice of one thing that is not used to calculate your FICO score -- how much money you make. Whether you earn $10,000 or $10 million a year, income is not a factor. 
        <br />
		<center>
  <%= image_tag "mortgages_clip_image003.gif", :alt=>"", :width=>240, :height=>160 %> <br /><br />
      <h3 align="center">&nbsp;</h3>
      
        <span class="style2"><%= link_to "Mortgage Loan Application", "pdf/loanapp.pdf", :rel=>"external" %><br />
        </span>
    </center></td>
  </tr>
</table>
<br />