<center>
<h2 style="color: #339933">USA  PATRIOT ACT IDENTIFICATION PROGRAM</h2>
</center>
<table width="771" border="0" align="center" cellpadding="0">
  <tr>
    <td><span style="font-family: Arial; font-size: large">To help the government fight the funding of terrorism and money laundering activities, Federal Law requires all financial institutions to obtain, verify, and record information that identifies each person who opens an account. SecurTrust FCU will ask for this information when a member account is established.<br />
      <br />
    </span></td>
  </tr>
</table>
