<center>
<h2 align="center" style="color: #339933">SECURTRUST PRIVACY POLICY</h2>
<center>
<table width="771" border="0" align="center" cellpadding="0">
  <tr>
    <td><p align="center">W<span class="style1">e consider your privacy to be a top priority at SecurTrust  Federal Credit Union. This is our  privacy notice for our members. When we  use the words &quot;you&quot; and &quot;your&quot;, we mean the following types of members: </span> </p>
      <ul class="style1">
        <li>
          <div align="left">Our consumer members who have a continuing relationship by purchasing  or holding financial products or services such as a:</div>
        </li>
        <div align="left">
          <ul>
            <li>Share account</li>
            <li>Loan account</li>
          </ul>
        </div>
        <ul>
        </ul>
      </ul>
      <span class="style1"><strong>Nonpublic  personal information </strong>means information about you that we collect in connection with  providing a financial product or service to you. Nonpublic personal information does not  include information that is available from public sources, such as telephone  directories or government records. Hereafter, we will use the term <em>&quot;information&quot; </em>to mean nonpublic personal information as defined in this section. <strong>Information  that we collect</strong><br />
We collect information about you from the following  sources: </span>
      <ul class="style1">
        <li>
          <div align="left">Information you give us on applications or other forms</div>
        </li>
        <li>
          <div align="left">Information about your transactions with us</div>
        </li>
        <li>
          <div align="left">Information about your transactions with other parties</div>
        </li>
        <li>
          <div align="left">Information from a consumer reporting agency</div>
        </li>
      </ul>
      <div align="left"><span class="style1"><strong>Information we  disclose about you</strong><br />
            <strong>We DO NOT  disclose any information about you to anyone, except as permitted by law.</strong> Examples of this might include disclosures  necessary to service your account or prevent unauthorized transactions. <strong>Information  about former members</strong><br />
        We do not disclose information about former members,  except as permitted by law. <strong>THE  CONFIDENTIALITY, SECURITY, AND INTEGRITY OF YOUR INFORMATION</strong> <br />
    We restrict access to information about you to those  employees who need to know that information to provide products or services to  you. We maintain physical, electronic,  and procedural safeguards to protect this information.</span></div></td>
  </tr>
</table>
<br />