<center>
<h2 style="color: #339933"><strong>PRODUCTS/SERVICES</strong></h2></center>
<table width="771" border="0" align="center" cellpadding="0">
  <tr>
    <td><h2 align="center">GREAT NEWS!! </h2>
      <p align="justify">
		<span style="mso-fareast-font-family: Calibri; mso-fareast-theme-font: minor-latin; mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA">
		<strong><%= link_to "Apply for a VISA Credit Card", "pdf/visaapp.pdf" %></strong></span></p>
	<p align="justify"><span class="style1"><strong>Savings  Accounts</strong> are the mainstay of our Credit Union. You become a member by opening an account  with $50.00 share deposit. Our  share/savings accounts have consistently earned higher than average dividends. Accounts can be owned individually or by  multiple joint members.</span></p>
      <p align="justify" class="style1"><strong>A Checking  Account </strong>is  a smart choice for convenient low/no-cost way to handle all your payments. You must already have established a share savings  account in order to open a checking account. An initial deposit of $100 is required. There is no per check charge and no minimum balance is required; however  if your balance drops below $1,000 during the month, there will be a small fee  of $5.00 charged to your account. If you  are age 55 or over, checking is absolutely free, no matter what your  balance! And all checking accounts with  a minimum $300.00 balance are paid interest monthly.</p>
      <p align="justify" class="style1">As an added benefit, SecurTrust FCU offers duplicate  checks to simplify your record keeping. Like savings, checking accounts can be owned individually or by multiple  joint members. Your monthly statement  provides a complete record of your checking transactions.</p>
                <p align="justify" class="style1"><strong>Christmas Club  Accounts</strong> -As little as $10.00 opens your Christmas Club account. Deposit as often as you desire, or add to  your account through your direct deposit and/or payroll. Earn interest while you save up for the extra  holiday expense! Withdrawals are permitted during the month of November in  whatever manner you wish. If you make  withdrawals during other times, you will be subject to a withdrawal fee of  $10.00.</p>
      <p align="justify" class="style1"><strong>Share  Certificates </strong>are  a safe way to invest. A variety of term  certificates are available at attractive rates. $1,000 minimum is required. If  you can invest a minimum of $30,000, you qualify for a slightly higher interest  rate. See the rate schedule for current  rates and terms.</p>
      <p align="justify" class="style1"><strong>All deposits  are federally insured.</strong> Your share accounts are secure  at SecurTrust FCU. All deposits are  fully insured up to $100,000 by the National Credit Union Administration. All IRAs are insured up to $250,000.</p>
      <p align="justify" class="style1"><strong>LOANS -</strong>We make affordable loans for  many purposes. Members become eligible  to borrow as soon as they join the Credit Union. Decisions are based on each member's ability  to repay, creditworthiness, and collateral. SecurTrust FCU makes loans for just about any prudent and productive  purpose, at rates members can afford. With our competitive, low interest rates and our fast, convenient and  confidential service, you'll be glad you borrowed from us. Get pre-approved for your loan BEFORE you go  shopping. Whether you're looking to buy  a new car, make some repairs around the house, or take that vacation, we may be  able to help! We offer quick loan  approval with no loan processing fees.<br />
      </p>
      <div align="justify">
        <ul class="style1">
          <li>New &amp; Used Autos -terms up to 66 months. No prepayment penalties.</li>
          <li>Motorcycles, Boats, Tractors, Trailers </li>
          <li>Personal/Signature loans</li>
          <li>Recreational Vehicles</li>
          <li>Share Secured</li>
          <li>Real Estate loans-First &amp; Second Mortgages</li>
          <li>Home Equity Line of Credit - Contact us for details in your state.</li>
          <li>Unimproved Property</li>
          <li>Home Construction</li>
        </ul>
      </div>
      <p align="justify" class="style1"><strong>ADDITIONAL PRODUCTS/SERVICES:</strong></p>
      <div align="justify">
        <ul type="square">
          <li class="style1"><strong>Direct Deposit</strong> -Have your paycheck       automatically deposited to your Credit Union account. No waiting in line, and your funds are       here on time, even when you're on vacation!</li>
          <li class="style1"><strong>Payroll Deduction</strong> -Have a portion of       your paycheck automatically deposited to your account on payday. Loan repayment is easy this way, and       saves you time and postage!</li>
          <li class="style1"><strong>Life Savings Insurance </strong>-This is <strong>FREE</strong> and pays a maximum benefit of       $2,000 on regular savings accounts. Ask us about this free benefit!</li>
          <li class="style1"><strong>Notary Service</strong> -Free to members!</li>
          <li class="style1"><strong>ATM Service</strong> -Convenient access to       your checking account funds throughout the country with Plus, Pulse, Moneymarket,       and Regions Bank ATMs.</li>
          <li class="style1"><strong>Credit Life &amp;  Disability Insurance</strong> -<strong>Credit Life Insurance</strong> can pay off the remaining loan balance upon your death, up to the policy       maximum. <strong>Credit Disability Insurance</strong> can make your payment for you if       you were to become totally or continuously disabled by a covered sickness       or illness. Contact us for more details.</li>
          <li class="style1"><strong>GAP Insurance</strong> - Cover your       deductible and any remaining loan balance in the event of total loss of       your vehicle.</li>
          <li class="style1"><strong>EFT Service</strong> - Send or receive       funds to/from your share account and/or loan account. Transferred funds available by next business day.</li>
          <li class="style1"><strong>Wire Transfers</strong> - Need funds       transferred in a hurry? No problem!</li>
          <li class="style1"><strong>Internet Banking </strong>- Conveniently access your account at times that may not be convenient for you to come to the lobby. It allows you to securely perform a variety of account transactions online. And it is FREE! Set up your account today!<br />
            <br />
          </li>
        </ul>
    </div></td>
  </tr>
</table>