<center>
<h2><span class="" style="color: #339933">MEMBER TESTIMONIALS</span></h2>
</center>
<table>
    <tr>
        <td><%= image_tag "justin_hutson.jpg", :alt=>"", :border=>0, :style=>"float: left" %></td>
        <td>
            <p align="left">This is Mr. Justin Hutson.  Justin has been a member of SecurTrust FCU since 2005 and this beautiful 2001 Ford F-150 is his fourth vehicle to purchase through SecurTrust.  <br /><br />
Justin stopped by to show us his new truck and had a few things to say about SecurTrust. "I have been a member for over five years and I have purchased three vehicles through you guys, and this is my fourth (pictured left).  It has 
always been a pleasant experience and I have always been taken care of.  You guys have always done all you could to take care of me.  I will be a member for the rest of my life.  Also I am planning on buying another vehicle in November and a new home through the credit union in the future." <br /><br />
We greatly appreciate Justin for being a part of SecurTrust!  We want to offer you the same service and loyalty in every financial area. For auto or home loans, come see us at SecurTrust and be a part of our family!

            </p>
        </td>
    </tr>
    <tr>
        <td>
          <p align="left">
            <%= image_tag "ronniemoss.jpg", :alt=>"", :width=>150, :height=>200, :border=>0, :style=>"float: left" %></p>
        <p align="left">&nbsp;</p></td>
        <td><p align="left"><span style="font-size:12.0pt; font-family:Arial, Helvetica, sans-serif; mso-ansi-language: EN" 
                lang="en" xml:lang="en">Spotlight on <strong style="mso-bidi-font-weight:normal"><u>Ronnie
                            Moss</u> </strong></span></p>
            <p align="left"><span style="font-size:12.0pt; font-family:Arial, Helvetica, sans-serif; mso-ansi-language: EN" 
                lang="en" xml:lang="en"><strong style="mso-bidi-font-weight:normal">
                </strong></span>This quarters Member Spotlight features Mr. Ronnie Moss. Ronnie has been a member of SecurTrust FCU for over 30
                years. He recently purchased this beautiful 2005 Lexus LS 430.
                Mr. Moss has always come to SecurTrust for his auto financing
                needs. When asked about SecurTrust, Ronnie said, "I have bought
                every car since the 1980s through here. SecurTrust always helps
                me and leads me in the right direction and steers me away from
                the wrong one. It was a great experience. The only way to do
                it is through the credit union." Ronnie is pictured here with
                his wife, Jant. Here at SecurTrust, we offer everyone the same
                courteous and prompt service that Ronnie received. We can help
                you find the vehicle you are looking for! And we will give you
                the direction and guidance you need. You can go to our website,
                www.securtrust.org, and fill out a loan application, or come
                visit one of our 3 branches! We are here to serve our members
        and to provide the best possible service.</p></td>
    </tr>
</table>
        </div>