<center>
<h2 style="color: #339933">NEW SERVICE *** - AFTER HOURS LENDING!!</h2>
</center>
<table width="771" border="0" align="center" cellpadding="0">
  <tr>
    <td><p><span style="font-family: Arial"><%= image_tag "phone.jpg", :width=>166, :height=>246, :align=>"right" %><br />
      In order to better serve YOU, our members, we have established an </span></p>
      <p style="font-family: Arial">AFTER-HOURS Lending Department for auto loans. If you are shopping </p>
      <p style="font-family: Arial">for an auto and you are ready to make the deal in the evenings or on weekends, </p>
      <p style="font-family: Arial">a SecurTrust FCU loan officer will be available and ready to help you! </p>
      <p style="font-family: Arial">After hours lending is only a phone call away!!!</p>
      <p align="center" style="font-family: Arial; font-weight: bold; font-size: x-large"> 901-359-4667</p>
      <p style="font-family: Arial"> Keep this phone number handy, and be sure to call when you want to seal the </p>
      <p style="font-family: Arial">deal on an auto loan! Call 901-359-4667 after 4:30 PM and on weekends.</p>
      <p style="font-family: Arial">Be sure to contact one of our loan officers for the best rates around!</p>
      <br />
    </td>
  </tr>
</table>