<div id="footer">          
          <table>
              <tr>
                  <td>
                  	<%= link_to "Privacy Notices", privacy_path, :rel=>"external" %>
                  </td>
                  <td>
                  	<%= image_tag "ehl.gif", :alt=>"Equal Housing Lender Logo" %>
                  </td>
                  <td>
                      Site designed and maintained by
                      <%= link_to image_tag("shareone.gif", :alt=>"Share One"), "http://www.shareone.com", :rel=>"external" %>
                  </td>
                  <td>
                      <%= link_to image_tag("ncua.gif", :alt=>"NCUA"), "http://www.ncua.gov", :rel=>"external" %>
                  </td>
              </tr>
          </table>
		</div>
	</div>